@import "tailwindcss";

@theme {
  --color-primary-blue: #2563eb;
  --color-dark-titanium: #1C1C1E;
  --color-light-titanium: #E5E5EA;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-neutral-900 text-white min-h-screen grid place-items-center;
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
